.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(32, 10px); /* Adjust the number of columns and size as needed */
  grid-gap: 1px; /* Adjust gap between mini squares */
}

.mini-square {
  width: 10px; /* Adjust size of mini square */
  height: 10px; /* Adjust size of mini square */
  background-color: #ccc; /* Adjust background color of mini square */
}
