.App {
  position: relative;
  min-height: 100vh;
}

.canvas {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}

.palette-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.palette {
  display: flex;
  flex-wrap: wrap;
}

.color {
  width: 30px;
  height: 30px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth effect */
  transition: transform 0.3s ease;
}

.color:hover {
  transform: scale(1.5);
}
